/* Colors */
:root {
    --primary: #e8bb22;
    --red: red;
    --white:white;
    --semi-gray:#58616f;
    --text-blue:#389FFD;
    --footer-background:#151820;
}
html{
    scroll-behavior: smooth;
}
::selection {
    color: #fff;
    color: rgba(255,255,255,.85);
    background: #ea4c4c;
}
@font-face {
    font-family: "Proxima-Nova-Thin";
    src: url("../fonts/FontsFree-Net-Proxima-Nova-Thin.otf");
}
@font-face {
    font-family: "Proxima-Nova";
    src: url("../fonts/proxima-nova-semi-regular.ttf");
}
body{
    font-family: 'proxima-nova', sans-serif;
}
nav{
    transition: all 0.4s ease;
}
nav.fixed-top {
    border-bottom: 1px solid #8080803d;
    box-shadow: 1px 0px 11px #0000006b;
}
.text-red{
    color:var(--red);
}
.text-blue{
    color: var(--text-blue);
}
.bg-white{
    background-color:var(--white);
}
.text-white{
    color:var(--white);
}
span.brand-vertical-center {
    margin-top: 7px;
    display: inline-block;
}
li.nav-item {
    padding-right: 15px;
    padding-left: 15px;
}
a.nav-link {
    font-size: 17px;
}
.btn-normal {
    border: 1px solid rgba(142,146,159,.3);
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
}
.btn-normal:hover{
    border: 1px solid #8e929f;
    color: black;
}
.px-15{
    padding-right: 40px;
    padding-left: 40px;
}
.px-10 {
    padding-right: 30px;
    padding-left: 30px;
}
.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-blue{
    background: linear-gradient(#389FFD,#006cff);
    color: white!important;
    border-radius: 50px;
    cursor: pointer;
}
.btn-blue a{
    color: white!important;
}
.btn-blue:hover{
    background: linear-gradient(#006cff,#006cff);
}
h1,h2{
    font-family: "Proxima-Nova-Thin", sans-serif;
}
h1{
    font-size: 48px;
}
header .sub-heading{
    font-size: 19px;
    color:var(--semi-gray);
}
.slide__text{
    line-height: 27px;
    font-size: 16px;
}
.img-1 {
    background-image: url(../images/about-extra-4.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 50%;
}
.img-2 {
    background-image: url(../images/slide-2-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 50%;
}
.img-3 {
    background-image: url(../images/slide-3-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 50%;
}
.img-4 {
    background-image: url(../images/slide-4-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 50%;
}
.img-5 {
    background-image: url(../images/slide-5-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 50%;
}
footer{
    margin-top: 40px;
    background-color: var(--footer-background);
    color:var(--white);
}
.mt-neg-5{
    margin-top: -31px;
    max-width: 70%;
}
.mt-6 {
    margin-top: 115px;
}
.mt-neg-6 {
    margin-top: -38px;
}
.outro-text{
    color: #4e576e;
}
.font-size-lg{
    font-size: 24px;
}
.logo-sloga{
    color:#8e929f;
    font-size: 16px;
    line-height: 26px;
}
.border-top-gray{
    border-top: 1px solid #80808029;
}
footer a{
    color:white;
    text-decoration: none;
}
footer a:hover{
    color:white;
    text-decoration: none;
}
a.footer-icon {
    display: inline-block;
    padding: 5px;
    border-radius: 100%;
    height: 32px;
    width: 32px;
    background-color: #181e2c;
    text-align: center;
    transition: 0.3s;
}
a.footer-icon:hover{
    background-color: #8e929f;
}


/* Carousel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    transform: scale(.5, 1.4);
    background-image: none;
}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 55px;
    color: var(--text-blue);
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: var(--text-blue);
}
.carousel-inner {
    min-height: 500px;
}

