:root{
    /*-- global styling -- */

    /*-- global variables -- */
    --bg-color: #323244;
    --body-text-color: #fff;
    --primary-color:#fe0167;
    --box-bg: #3c416d/* #282c4f */;

}
/************************
************************
************************
MENU: FOR THIS CSS FILE 
------------------------
General
Header
LEFT Side
Right Side
Responsive
************************
************************
************************/


/************************
        General
************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    color: var(--body-text-color);
    font-family: 'Open Sans', sans-serif;
}

.btn-action-sm{
    background: var(--primary-color);
    color: var(--box-bg)!important;
    margin-bottom: 5px;
}
.rounded-5{
    border-radius: 15px;
}
.widget-box{
    background: var(--box-bg);
    border-radius: 15px;  
}


/**Expandable BUTTON**/
.btn-expandalbe {
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    border:1px solid var(--primary-color);
}

.btn-expandalbe:hover {
    border:1px solid var(--primary-color);
    color: var(--primary-color) !important;
    letter-spacing: 2px;
    background: var(--bg-color);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}


/*Nav Items*/
.category-box .list-group-item{
    padding:2px 0px 2px 0px;
}

.nav-animated-item {
   border-radius: 4px;
   background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
   border: none;
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   font-size: 22px;
   padding: 7px 10px;
   transition: all 0.4s;
   cursor: pointer;
   display: block;
   position: relative;
 }
 .nav-animated-item span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.4s;
 }
 .nav-animated-item span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
 }
 .nav-animated-item:hover span {
   padding-right: 25px;
 }
 .nav-animated-item:hover span:after {
   opacity: 1;
   right: 0;
 }


.preview {
    position: absolute;
    top: -10px;
    right: 0;
    transform: translateX(calc(100% - 10px)) scale(0.5);
    transform-origin: left top;
    z-index: 999;
    visibility: hidden;
    border-radius: 11px;
    opacity: 0;
    transition: all ease-in 0.1s;
    
}
.preview img{
    border:2px solid #4ca2cb;
    border-radius:8px;
    margin-left: 5px;
}

.nav-animated-item:hover .preview{
    visibility: visible;
    opacity: 1;
    top: 0;
    transform: translateX(calc(100%)) scale(1);
}


/************************
        HEADER 
************************/
.logo{
    height: 30px;
}
.search-group {
    margin-top: 5px;
    border: 2px solid var(--primary-color);
    border-radius: 18px;
    display: flex;
    width: 100%;
}

input.search-input.form-control {
    border: 0px;
    border-radius: 15px;
    height: 38px;
}

input.search-btn {
    vertical-align:middle;
    font-size: 1rem;
    border-radius: 15px;
    border: 0px;
    color: var(--bg-color);
    background: var(--primary-color);
    font-weight: 500;
    width: 90px;
    height: 38px;
    margin-left: -90px;
}

/************************
        LEFT SIDE
************************/
.category-box .list-group-item{
    background: transparent;
}
.category-box .list-group-item a{
    color: var(--body-text-color);
}
#categoryNavbar >ul.list-group{
  width: 100%;
}
/************************
        Rights side
************************/
.top-sliders .widget-box {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.page-link {
    background-color: var(--box-bg);
    color: white;
    border-color: #12131b;
}

.page-item.active .page-link {
    color: var(--box-bg);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/***********************
    Responsive Codes
***********************/

@media only screen and (max-width:575px){
    .navbar .container{
        flex-direction: column;
    }
    input.search-input.form-control {
        width: 100%;
    }
    .navbar .container .form-inline{
        width: 100%;
    }
  
    .preview{
      display: none;
    }
    
}
@media only screen and (min-width:576px){
    input.search-input.form-control {
        width: 230px;
    }
    
    .preview{
      display: none;
    }
    
}

@media only screen and (min-width:768px){
    input.search-input.form-control {
        width: 300px;
    }
    .preview{
      display: block;
    }
}

@media only screen and (min-width:992px){
    input.search-input.form-control {
        width: 500px;
    }
}

@media only screen and (min-width:1200px){
    input.search-input.form-control {
        width: 600px;
    }
}