<!--=================================
 home.testimonials.html -->
<section id="testimonials" class="testimonials white-bg page-section-pt">
 <div class="container-fluid">
   <div class="row">
	<div class="col-lg-12 col-md-12">
	 <div class="section-title">
   	 	 <div class="section-title-name">
   	 	  	<span>Look at their opinions!</span>
   	  	  	<h2>Testimonials </h2>
   	    </div>
   	    <div class="title-name-gray">
   	   	<strong>Testimonials</strong>
   	   </div>
   	 </div>
	</div>
   </div>
 <div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="testimonials-block">
      <div class="testimonials-content">
      	 <div class="testimonials-avtar">
      	 	<img class="imgresponsive" src="assets/images/testimonials/kawthar-naser.jpg" alt="Kawthar Naser">
      	 </div>
      	 <div class="testimonials-comment">
      	 	<p>Naimur is a highly skilled senior Flutter Developer with exceptional dedication and a friendly, collaborative approach. He's kind-hearted, professional, and talented. Any organization will be fortunate to have him.</p>
      	 </div>
      </div>
      <div class="testimonials-name">
      	<h4>Kawthar Naser</h4>
      	<span>Frontend Developer</span>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="testimonials-block">
      <div class="testimonials-content">
      	 <div class="testimonials-avtar">
      	 	<img class="imgresponsive" src="assets/images/testimonials/tor-johnson.jpg" alt="Tor Johnson">
      	 </div>
      	 <div class="testimonials-comment">
      	 	<p>Naimur is a skilled, smart, and hardworking engineer. He's shown ingenuity and tenacity solving technical problems. This is someone you'd want on your team and I'd hire again.</p>
      	 </div>
      </div>
      <div class="testimonials-name">
      	<h4>Tor Johnson</h4>
      	<span>Solution Architect & Manager</span>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="testimonials-block">
      <div class="testimonials-content">
      	 <div class="testimonials-avtar">
      	 	<img class="imgresponsive" src="assets/images/testimonials/enamul-haque.jpg" alt="Enamul Haque">
      	 </div>
      	 <div class="testimonials-comment">
      	 	<p>I had the pleasure of working with Md Naimur, an exceptional team player and expert in mobile app development with Flutter. His technical proficiency and strong communication skills make him a standout developer.</p>
      	 </div>
      </div>
      <div class="testimonials-name">
      	<h4>Enamul Haque</h4>
      	<span>Flutter Developer</span>
      </div>
    </div>
  </div>
 </div>
 </div>
</section>
<!--=================================
 home.testimonials.html -->
