/* Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address, code, img, 
small, strong, dl, dt, dd, ol, ul, li,
fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/raleway-regular.ttf');
}
body {
	line-height: 1.5;
  font-family: Raleway, helvetica, arial, sans-serif;
}
ol, ul {
	list-style: none;
}

/* End Reset */
 
/* Initial Font Size and Anchor View */
h2 {
  font-size: 27px;
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
  color:#4e4e4e;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}
.btn{
	padding: 9px 30px;
	border-radius: 15px;
	background:rgba(0, 0, 0, 0.7);
	color: white;
	border-style: none;
	box-shadow: 1px 1px 1px black;
}
.btn-active{
	background:rgba(68, 255, 245, 0.7);
	color: white;
  text-shadow:1px 1px 40px black;
}
.btn-lighter{
	background:#44fff5 ;
	font-weight: bold;
}
#wrap {
	width: 960px;
	margin: auto;
	position: relative;
}

/* heading css */
header{
	background: rgba(0, 0, 0, 0.2);
	padding:5px 30px 5px 30px;
	position:absolute;
	width: 93.7%;
	top:0px;
	z-index: 1;
}
header > .logo{
	width: 50px;
}
header > nav{
	display: inline-block;
	margin-top: 15px;
	float: right;
}
header > nav > ul{
	list-style: none;
}
header > nav > ul > li{
	display: inline-block;
	padding-right:20px;
}
header > nav > ul > li > a{
	font-size: 20px;
	color:white;
}
header > nav > ul > .get-a-quote > a{
	color:#44fff5;
}

/* content design */
.block1 {
	background-image: url('./IMAGES/blog-post.jpg');
	background-position: center center; 
	height: 500px;
	position: relative;
}
.block1 .overlay{
	background: black;
	opacity: 0.5;
	height: 500px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}
.block1 .content{
	height: 500px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	padding-top:200px;
	text-align: center;
}
.block1 > .content > h2{
	color:#44fff5;
  font-size: 40px;
}
.block1 > .content > h3{
	color:#FDFBF9;
	margin: 15px;
}
.block2{
	height: 100px;
	text-align: center;
	padding: 50px;
}
.block2 > p {
	font-size: 15px;
	color:#50574F;
}
.block3 {
	text-align: center;
}
.block3:after{
	content: "";
	visibility: hidden;
  display: block;
	height: 0;
	clear: both;
}
.block3 > .offer-box-holder{
	padding-left: 40px;
}
.block3 > .offer-box-holder > .offer-box{
	padding: 8px;
	border:1px solid #D4D4D4;
	width: 230px;
	margin: 24px;
	float: left;
	position: relative;
}
.block3 > .offer-box-holder > .offer-box > span{
	/* Failed with float
	That's why using position
	float: left;
	height: 49px; */
	position: absolute;
	font-size: 50px;
	top: 6px;
	left: 6px;
	bottom: 0px;
	color: #44fff5  ;
	
}
.block3 > .offer-box-holder > .offer-box > h3,
.block3 > .offer-box-holder > .offer-box > p{
  text-align: left;
	padding-left: 60px;
}
.block4{
	text-align: center;
	padding: 50px;
}
.block4:after{
	content: "";
	visibility: hidden;
	display: block;
	clear: both;
}

.block4 > .profile-cart{
	float:left;
	margin-top: 20px;
	padding-left: 60px;
  letter-spacing: 2px;
}
.block4 > .profile-cart > img{
	height: 210px;
	border: 5px solid #44fff5;
}
.block4 > .profile-cart > p{
	font-weight: bold;
}
.footer{
	background: #262626;
	padding: 60px;
	text-align: center;
	color:#FFFFFF;
}
.footer > .icon-holder:after {
	content: "";
	visibility: hidden;
	display: block;
	clear: both;
}
.footer > .icon-holder > .contact-icon-box {
	width: 200px;
	margin: 10px 10px 30px 50px;
}
.footer > .icon-holder > .contact-icon-box{
	float: left;
}
.footer > .icon-holder > .contact-icon-box > span{
	font-size: 30px;
	color: #44fff5;
	font-weight:bolder;
}
.footer > form > input {
	width: 700px;
	margin: 5px;
	outline: solid 0px #44fff5;
  transition: outline 0.6s linear;
}
.footer > form > input:focus {
	outline-width: 2px; 
}
.footer > form > textarea{
	width: 700px;
	margin: 5px 0px 10px 0px;
}